body, html {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background-color: black;
}

.tg-modal {
  background-color: #2F2F2F;
  border-radius: 7px 7px 0px 0px;
}

.tg-modal {
  width: 898px;
  height: 600px;
  margin: 0 auto;
}

.tg-header {
  width: 100%;
  height: 64px;
  background: #3E3E3E;
  border-radius: 7px 7px 0px 0px;
}

.tg-header .search-container {
  position: relative;
  top: 14px;
  right: 14px;
  float: right;
}

.tg-header input[type=text] {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  background: #2F2F2F;
  border: 1px solid #676767;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
}

.tg-header input[type=text]{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
}

.search-container button{ 
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background: linear-gradient(180deg, #00FFFF 0%, #0094FF 100%);
  border-radius: 0px 4px 4px 0px;
  background-color: transparent;
  border: none;
}

.search-container button .tg-search {
  position: relative;
  display: block;
  height: 100%;
  background-image: url('assets/magnifying-glass.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.tg-heading-1{
  width: 207px;
  height: 23px;
  margin-left: 28px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 23px;
}

.tg-service-provider-list {
  display: block;
  width: 100%;
  text-align: left;
  list-style: none;
  position: relative;
  padding: 0;
}

.tg-service-provider-list li {
  width: 95%;
  height: 56px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.tg-text-cm-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.tg-text-cm-cat {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.tg-action-btn {
  width: 30px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
}

.tg-sp-action-btn{
  margin-top: 5px;

}

.tg-action-btn .tg-btn-edit svg {
  background: #676767;
}

.tg-list-item-content, .tg-sp-action-btn {
  display: block;
}

.tg-list-item-content {
  width: 90%;
}

.tg-sp-gn-info {
  position: relative;
  display: block;
  padding: 10px 10px 0 10px;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.tg-sp-action-btn {
  width: 10%;
}

.tg-text-cm-tell, .tg-text-cm-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.tg-text-cm-tell svg, .tg-text-cm-email svg {
  height: 16px;
  width: 16px;
  left: 332px;
  top: 20px;
  border-radius: 0px;
  float: left;
}

.tg-text-cm-tell span, .tg-text-cm-email span{
  margin-left: 10px;
}
.tg-float-left{
  float:left;
}

.tg-color-ghost {
  color: #676767;
}

.tg-color-white {
  color: #FFFFFF;
}

.tg-color-blue {
  color: #0075FF;
}

button {
  cursor: pointer;
}

.tg-list-item:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 43px;
  left: -4px;
  top: 5px;
  border-radius: 4px 0 0 4px;
}

.tg-list-item.tg-status-active:before{
  background: #70FF00;
  box-shadow: 0px 0px 4px #70ff00;
}

.tg-list-item.tg-status-idle:before{
  background: #0075FF;
  box-shadow: 0px 0px 4px #0075FF;
}

.tg-list-item.tg-status-busy:before{
  background: #FF0000;
  box-shadow: 0px 0px 4px #FF0000;
}

.tg-list-item.tg-status-inactive:before{
  background: #676767;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  #app {
    margin-top: auto;
  }
  .tg-modal {
    width: 100%;
    height: 100%;
  }

  .tg-modal .tg-mb-float-none {
    float: none;;
  }

  .tg-header{
    height: 90px;
  }
  
  .tg-heading-1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .tg-header .search-container {
    width: 95%;
  }
  
  .tg-header input[type=text] {
    width: 88%;
    height: 36px;
  }
  
  .tg-header input[type=text] {
    font-size: 14px;
    line-height: 16px;
  }
  
  .search-container button {  
    width: 36px;
    height: 36px;
  }

  .tg-service-provider-list li {
    height: 110px;
  }

  .tg-sp-cn-info{
    padding-left: 10px;
  }

  .tg-sp-cn-info p{
    margin: 10px 0px;
  }

  .mb-width-100 {
    width: 100%;
  }

  .tg-list-item-content {
    width: 80%;;
  }
  
  .tg-sp-action-btn {
    width: 20%;
  }
}